@import url("https://use.typekit.net/djq6mbs.css");

@font-face {
  font-weight: normal;
  font-family: "ServiceStation";
  src: url("assets/fonts/service-station-display/ServiceStation-Regular.woff") format("woff");
}

@font-face {
  font-family: "ServiceStation";
  font-style: italic;
  src: url("assets/fonts/service-station-display/ServiceStation-RegularItalic.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "ServiceStation";
  src: url("assets/fonts/service-station-display/ServiceStation-Rough.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "ServiceStation";
  font-style: italic;
  src: url("assets/fonts/service-station-display/ServiceStation-RoughItalic.woff") format("woff");
}

body {
  margin: 0;
  font-family: ServiceStation, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
