.button {
  background-color: #fbdaaa;
  font-family: futura-pt-bold;
  font-size: 30px;
  color: #425487;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  margin: 5px 10px;
  text-transform: uppercase;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}
